* {
    margin: 0;
    outline: 0;
    padding: 0;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.231;
    -webkit-touch-callout: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    position: relative;
}

img {
    height: auto !important;
    width: 100% !important;
}

.body {
    display: block;
    max-width: 640px;
    margin: auto;
    min-height: 100%;
    position: relative;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    overflow: hidden;
}

.docs {
    line-height: 28px;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 70px;
}

.doc-title {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.glyphicon {
    margin-right: 10px;
    color: #333;
}

.nav-menu-bg {
    background-color: #eee;
    padding: 10px;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav-menu-bg .nav a {
    color: #444;
}

    .nav-menu-bg .nav a:hover {
        background-color: #ddd;
    }

.navbar-static-top {
    background-color: #081D50;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-text {
    color: #fff;
    font-size: 17px;
}

.brochureList {
    padding: 10px 0;
    margin: 0 -5px;
}

    .brochureList a.list-group-item .list-group-item-heading {
        color: #081D50;
        margin: 10px 0;
    }

    .brochureList a.list-group-item:hover {
        background-color: #eee;
    }


.menu {
    background-color: #fff;
    padding: 10px;
}

    .menu .item {
        display: inline-block;
        width: 32.444%;
    }

        .menu .item a {
            background-color: #eee;
            border: 1px solid #dddddd;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -moz-box-shadow: 0 0 5px #d7d7d7;
            -webkit-box-shadow: 0 0 5px #d7d7d7;
            box-shadow: 0 0 5px #d7d7d7;
            color: #444;
            display: block;
            margin: 3px;
            text-align: center;
            text-decoration: none;
        }

        .menu .item label {
            background-color: #e0e0e0;
            display: block;
            font-size: 13px;
            margin: 0;
            padding: 7px 0;
            text-align: center;
        }

        .menu .item .glyphicon {
            font-size: 23px;
            line-height: 60px;
            color: #081D50;
            margin: 0;
        }


@media (max-width:768px) {
}

@media (max-width:360px) {
}

@media (max-width:320px) {
    .nav-pills > li {
        width: 49%;
    }
}

.list_ul {
    bottom: 0;
    list-style: outside none none;
    overflow: hidden;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
}


    .list_ul li {
        /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);*/
        float: left;
        width: 33.3333%;
    }



    .list_ul a {
        display: block;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
    }

    .list_ul label {
        /*color: #081D50;*/
        color:#fff;
        display: block;
        font-size: 13px;
        font-weight: lighter;
        height: 25px;
        line-height: 25px;
        overflow: hidden;
        text-shadow: none;
        word-break: break-all;
        word-spacing: normal;
    }

   .list_ul li:hover{

   }

    .list_ul a:hover .glyphicon {
        color: #081D50;
    }

    .list_ul .glyphicon {
        color: #ffffff;
        font-size: 23px;
        margin: 0;
        padding: 10px;
    }



.box_swipe > ol {
    background-color: rgba(0, 0, 0, 0.3);
    height: 20px;
    margin-bottom: 0;
    margin-top: -20px;
    padding-right: 15px;
    position: relative;
    text-align: right;
    z-index: 10;
}


    .box_swipe > ol > li {
        background-color: #757575;
        border-radius: 8px;
        display: inline-block;
        height: 8px;
        margin: 5px 0;
        width: 8px;
    }



#foot-emnu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
}

    #foot-emnu ul {
    }

        #foot-emnu ul li {
            float: left;
            list-style: none;
            width: 25%;
            height: 60px;
            text-align: center;
        }

            #foot-emnu ul li i {
                color: #FFF;
                text-align: center;
                margin: 0 0 5px;
                font-size: 18px;
                display: block;
            }

            #foot-emnu ul li a {
                color: #fff;
                display: block;
                font-size: 12px;
                height: 60px;
                padding-top: 10px;
                text-align: center;
            }

                #foot-emnu ul li a:hover {
                    text-decoration: none;
                    cursor: pointer;
                    background-color: #666;
                }

.navbar-header i {
    color: #fff;
}


.list-group {
    margin-bottom: 70px;
}

.form {
}

    .form p label {
        font-size: 13px;
        font-weight: normal;
        line-height: 0;
        margin: 3px 0;
        text-align: left;
    }

    .form p input {
        width: 100%;
        padding: 3px 10px;
    }

    .form p select {
        padding: 10px;
        width: 100%;
    }

    .form p button {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
    }

.teacher {
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#article h3 {
    font-size: 14px;
    font-weight: bold;
}

#article p {
    text-indent: 30px;
}

#article ol, #article ul {
    margin-left: 30px;
}
