<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.cstwx.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>GetStudentServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>GetTotalPageServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>AdminChangePwdServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>AdminChangeNameServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>SubmitServlet</servlet-name>
  	<display-name>SubmitServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<display-name>AdminLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminChangeNameServlet</servlet-name>
  	<display-name>AdminChangeNameServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.AdminChangeNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminChangePwdServlet</servlet-name>
  	<display-name>AdminChangePwdServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.AdminChangePwdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<display-name>DeleteStudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentServlet</servlet-name>
  	<display-name>GetStudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.GetStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTotalPageServlet</servlet-name>
  	<display-name>GetTotalPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.cstwx.servlet.GetTotalPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubmitServlet</servlet-name>
  	<url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminChangeNameServlet</servlet-name>
  	<url-pattern>/admin/changeName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminChangePwdServlet</servlet-name>
  	<url-pattern>/admin/changePwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<url-pattern>/admin/deleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentServlet</servlet-name>
  	<url-pattern>/admin/getData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTotalPageServlet</servlet-name>
  	<url-pattern>/admin/getTotalPage</url-pattern>
  </servlet-mapping>
</web-app>
